/*** Home Page Content ***/

.container-fluid {
    max-width:1204px;
}


body {
    background-color: rgba(0,0,0,.8);
    background-blend-mode: multiply;
    background-image: url('/img/backgrounds/enchanted-forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height:100%;
}

.header-logo {
    position: relative;
    left: 100px;
    text-align: right;
}
.header-lead {
    position: relative;
    left: 100px;
    padding-left:0px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:15px;
    font-weight: bold;
    text-transform: uppercase;
    color:#33bbff;
    padding-top:14px;
}

.lead-text{
    padding-left:10px;
    border-left: solid 1px #33bbff;
}

img#logo {
    width: 401px;
    height:79px;
}

.descriptionContainer {
    text-align: center;
}

.description {
    display: inline-block;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:25px;
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
    opacity: 0.8;
    max-width: 950px;
}

.description p {
    text-align: center;
}

p.icons {
    font-size:60px;
}

@media (max-width: 992px) {

    .header-logo {
        text-align: center;
        poition:relative;
        left:0px;
    }
    .description {
        font-size:20px;
    }
    p.icons {
        font-size:40px;
    }
}

@media (max-width: 762px) {

    body {
        background-image: none;
        background-color: #222;
    }

    img#logo {
        width: 200.5px;
        height: 39.5px;
    }
    .description {
        font-size:15px;
        opacity: 1;
    }
    p.icons {
        font-size:30px;
    }
}

/*** Typography ***/

blockquote small:before {
display:none;
}

blockquote {
    padding: 0 0 0 10px;
}

/*** Forms & Buttons ***/

a, .chevron {
    cursor: pointer;
}

.chevron {
    position: relative;
    font-size:15px;
}

.action {
    color: #ff7700;
}

.btn-action {

    color: white;
    background: #ff7700 linear-gradient(to bottom, rgb(255, 150, 50) 0px, rgb(255, 119, 0) 100%);

}

.btn-action:hover {

    color: white;
    background: #ff7700 linear-gradient(to bottom, rgb(255, 135, 40) 0px, rgb(255, 119, 0) 100%);

}

.required {
    color:#aa0000;
}

/*** SNAPSCAN ***/

.qr-code {
    width:100%;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.snapscan-bar {
    background-color: #3478BD;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
}

/*** Animation: Collapse ***/


/*** CARDS ***/

.card {
    border-top: 3px solid #555;
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 30px;
}

.card-category {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    background-color: #333;
    padding: 2px 10px 2px 10px;
    min-width:100px;
    text-transform: uppercase;
}

.card-image {
    height:160px;
    background-image:url('/img/content/join.jpg');
    background-position: center center;
    background-size: cover;
    transition: all .3s ease-out;
}

.card-image:hover {
    background-color: rgba(255,128,9,0.2);
    background-blend-mode: screen;
}

.card-content {
    background-color:white;
    overflow: hidden;
}

.card-content div.card-text {
    min-height:100px;
}

.card-content h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 20px 10px 10px 10px;
}

.card-content h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #555;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

.card-content h3.clickable {
    cursor: pointer;
}

.card-content h3.clickable:hover {
    color: #ffaa55;
}

.card-content div.card-text {
    font-family: 'Roboto', sans-serif;
    color: #222222;
    padding: 10px;
    min-height:80px;

}

.card-content div.card-footer {
    font-family: 'Roboto', sans-serif;
    background-color: #666;
    color: #ccc;
    padding: 7px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 762px) {
    .card {
        margin-bottom: 15px;
    }
}

/*** CARD CONTENT ***/

/* Join */
.join-card {
    border-top: 3px solid #aa0000;
}

.join-card .card-image {
    background-image:url('/img/content/join.jpg');
}

.join-card .card-category {
    background-color: #aa0000;
}

.join-card .card-content h2 {
    color: #770000;
}

/* Magazine */
.magazine-card {
    border-top: 3px solid #7700aa;
}

.magazine-card .card-image {
    background-image:url('/img/content/magazine.jpg');
}

.magazine-card .card-category {
    background-color: #7700aa;
}

.magazine-card .card-content h2 {
    color: #550077;
}

/* Comments */
.comment-card {
    border-top: 3px solid #0077aa;
}

.comment-card .card-image {
    background-image:url('/img/content/comment.jpg');
}

.comment-card .card-category {
    background-color: #0077aa;
}

.comment-card .card-content h2 {
    color: #005577;
}

/* Contact */
.contact-card {
    border-top: 3px solid #ccc000;
}

.contact-card .card-image {
    background-image:url('/img/content/mark.jpg');
}

.contact-card .card-category {
    color:black;
    background-color: #ccc000;
}

.contact-card .card-content h2 {
    color: #333;
}

/*** REUSABLE LAYOUT ***/

.top-margin-big {
    margin-top: 60px;
}

@media (max-width: 992px) {
    .top-margin-big {
        margin-top: 40px;
    }
}

@media (max-width: 762px) {
    .top-margin-big {
        margin-top: 20px;
    }
}