<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>earthalive.org</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/dark.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <script src="/js/angular.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/ui-bootstrap-2.1.4.min.js"></script>
    <script>

        angular.module('earthalive', ['ngAnimate','ui.bootstrap']);

    </script>

</head>
<body ng-app="earthalive">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85206613-1', 'auto');
    ga('send', 'pageview');

</script>
<div class="container-fluid">
    <div class="row header top-margin-big">
        <div class="col-md-6 col-sm-12 col-xs-12 header-logo"><img id="logo" src="/img/logo-dark-400.png"></div>
        <div class="col-md-6 header-lead hidden-sm hidden-xs">
            <div class="lead-text">Building advocacy<br/>towards positive change</div>
        </div>
    </div>
    <div class="row top-margin-big">
        <div class="col-md-12 col-sm-12 descriptionContainer">
            <div class="description">
                <p>earthalive.org is an online platform that offers much-needed PR to small intelligent projects that benefit the planet and all her inhabitants.</p>
                <p class="icons top-margin-big"><span class="glyphicon glyphicon-globe" aria-hidden="true" style="color:#66DD16"></span><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:#f33"></span></p>
            </div>
        </div>
    </div>

    <div class="row top-margin-big">

        <!-- Join the program -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-">
            <div class="card join-card">
                <div class="card-image">
                    <div class="card-category">Conscription</div>
                </div>
                <div class="card-content">
                    <h2>Join the program</h2>
                    <div class="card-text">
                        <p>Join the earthalive team. Become an active citizen. Volunteer your skills. Make a difference to your world. </p>
                        <p>Let us know your interests and skills and we will contact you shortly.</p>
                        <blockquote><small>Orange arrows (below) reveal content</small></blockquote>
                        <h3 class="clickable" ng-init="signupCollapsed = true" ng-click="signupCollapsed = !signupCollapsed"><span class="chevron glyphicon action" ng-class="{'glyphicon-chevron-up':!signupCollapsed, 'glyphicon-chevron-down':signupCollapsed}" aria-hidden="true"></span> Sign up</h3>
                        <div uib-collapse="signupCollapsed">
                            <form>
                                <div class="form-group">
                                    <label for="name3">Your name <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="name3" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="email3">Your email <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="email3" placeholder="Email">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked> Of course you can email me
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="organisation3">Your organisation</label>
                                    <input type="text" class="form-control" id="organisation3" placeholder="Email">
                                </div>
                                <a class="btn btn-small btn-action" target="_blank" href="/download/earthalive-mag-vol-1.pdf">Post my copy</a>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer">COMING SOON</div>
                </div>
            </div>
        </div>

        <!-- Get the magazine -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="card magazine-card">
                <div class="card-image">
                    <div class="card-category">Greyton Magazine</div>
                </div>
                <div class="card-content">
                    <h2>Get your copy</h2>
                    <div class="card-text">
                        <p>Volume one of earthalive.org magazine Greyton is out. Download it or have us send you a copy.</p>
                        <blockquote><small>Orange arrows (below) reveal content</small></blockquote>
                        <!-- Download -->
                        <h3 class="clickable" ng-init="downloadCollapsed = false" ng-click="downloadCollapsed = !downloadCollapsed"><span class="chevron glyphicon action" ng-class="{'glyphicon-chevron-up':!downloadCollapsed, 'glyphicon-chevron-down':downloadCollapsed}" aria-hidden="true"></span> Download the magazine</h3>
                        <div uib-collapse="downloadCollapsed">
                            <p><a class="btn btn-small btn-action" target="_blank" href="/download/earthalive-mag-vol-1.pdf">Download volume one</a></p>
                        </div>

                        <!-- Subscribe electronically -->
                        <h3 class="clickable" ng-init="subscribeCollapsed = true" ng-click="subscribeCollapsed = !subscribeCollapsed"><span class="chevron glyphicon action" ng-class="{'glyphicon-chevron-up':!subscribeCollapsed, 'glyphicon-chevron-down':subscribeCollapsed}" aria-hidden="true"></span> Subscribe to the e-magazine</h3>
                        <div uib-collapse="subscribeCollapsed">
                            <p><small>You'll be automatically opted-in for email communication, obviously.</small></p>
                            <form>
                                <div class="form-group">
                                    <label for="name">Your name <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Your email <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="organisation">Your organisation</label>
                                    <input type="text" class="form-control" id="organisation" placeholder="Email">
                                </div>
                                <a class="btn btn-small btn-action" target="_blank" href="/download/earthalive-mag-vol-1.pdf">Subscribe me</a>
                            </form>
                        </div>

                        <!-- Send hard copy  -->
                        <h3 class="clickable" ng-init="hardcopyCollapsed = true" ng-click="hardcopyCollapsed = !hardcopyCollapsed"><span class="chevron glyphicon action" ng-class="{'glyphicon-chevron-up':!hardcopyCollapsed, 'glyphicon-chevron-down':hardcopyCollapsed}" aria-hidden="true"></span> Get the latest hardcopy</h3>
                        <div uib-collapse="hardcopyCollapsed">
                            <p><small>The hard copies cost R30 each to print, excluding postage. Please accompany this request with a voluntary payment.</small></p>
                            <form>
                                <div class="form-group">
                                    <label for="name2">Your name <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="name2" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="email2">Your email <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="email2" placeholder="Email">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked> Of course you can email me
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="organisation2">Your organisation</label>
                                    <input type="text" class="form-control" id="organisation2" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="postal-address2">Your postal address <span class="required">*</span></label>
                                    <textarea id="postal-address2" class="form-control" rows="3"></textarea>
                                </div>
                                <a class="btn btn-small btn-action" target="_blank" href="/download/earthalive-mag-vol-1.pdf">Post my copy</a>
                            </form>
                        </div>

                        <!-- Payment -->
                        <h3 class="clickable" ng-init="paymentCollapsed = true" ng-click="paymentCollapsed = !paymentCollapsed"><span class="chevron glyphicon action" ng-class="{'glyphicon-chevron-up':!paymentCollapsed, 'glyphicon-chevron-down':paymentCollapsed}" aria-hidden="true"></span> Make a payment or donation</h3>
                        <div uib-collapse="paymentCollapsed">
                            <p>We recommend R50 to post locally.</p>
                            <p>Download <a href="http://www.snapscan.co.za">SnapScan</a> to make a mobile payment, scanning the code below.</p>
                            <img src="/img/snapscan/snapscan-earthalive.gif" class="qr-code"/>
                            <p>
                            Please notify <a href="mailto:mark@earthalive.org">mark@earthalive.org</a>.
                            <div class="snapscan-bar">
                                <img src="/img/snapscan-logo.png" width="114" height="24"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Have your say -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="card comment-card">
                <div class="card-image">
                    <div class="card-category">Social</div>
                </div>
                <div class="card-content">
                    <h2>Have your say</h2>
                    <div class="card-text">Add your few cents worth to the comments below.</div>
                    <div class="card-footer">COMING SOON</div>
                </div>
            </div>
        </div>

        <!-- Contact the team -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="card contact-card">
                <div class="card-image">
                    <div class="card-category">earthalive</div>
                </div>
                <div class="card-content">
                    <h2>Contact the team</h2>
                    <div class="card-text">We really would love to hear from you, especially that this is so new. Get hold of us!</div>
                    <div class="card-footer">COMING SOON</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>